body{
    margin: 0;
    background-color: rgb(236, 236, 236);
}
header {
    background-color:black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.menu{
    cursor: pointer; /*cursor da maozinha*/
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-evenly;
    width: 30px;
    margin-right: 10px;
    
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    transform: translateY(-100%); /*esta indicando q o elemento deve ir para a posição 0 no eixo y (cima)*/
    transition: 1s ; 
    position: relative; /*para funcionar o z-index*/
    z-index: -1; /*joga o elemento pra tras*/
}

nav a{
    text-decoration: none;
    color : white;
}
span{
    background-color: white;
    height: 3px;
    width: 100%;
    display: block;
}

.visivel{
    transform: translateX(0); /*esta indicando q o elemento deve ir para a posição 0 no eixo x (lateral)*/
}